*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}
body, html{
  height: 100vh;
  color: #012E40;
}
body{
  margin: 0;
  display: grid;
  grid-template-columns: auto 27% 27% 27%;
  grid-template-rows: 8% 30% auto 10%;
  grid-template-areas:
  "side head head head"
  "side fir1 fir2 fir3"
  "side main main main"
  "side foot foot foot";
  font-size: 2rem;
  font-family:'Times New Roman', Times, serif
}
aside{
  grid-area: side;
  background-color: #012E40;
  color: #F2E3D5;
}
header{
  grid-area: head;
  background-color: #024959;
  color: #F2E3D5;
}
#fir1{
  grid-area: fir1;
  background-color: #3CA6A6;
  color: #F2E3D5;
}
#fir2{
  grid-area: fir2;
  background-color: #026773;
  color: #F2E3D5;
}
#fir3{
  grid-area: fir3;
  background-color: #024959;
  color: #024959  ;
}
main{
  grid-area: main;
  background-color: #F2E3D5;
  color: #012E40;
}
footer{
  grid-area: foot;
  background-color: #024959;
  font-size: 20px;
}
img{
  width: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}