*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}
body, html{
  height: 100vh;
}
body{
  margin: 0;
  display: grid;
  grid-template-columns: auto 27% 27% 27%;
  grid-template-rows: 8% 30% auto 10%;
  grid-template-areas:
  "sidebar header header header"
  "sidebar boks1 boks2 boks3"
  "sidebar main main main"
  "sidebar footer footer footer";
  font-size: 2rem;
  font-family:'Times New Roman', Times, serif
}
aside{
  grid-area: sidebar;
  background-color: #012E40;
}
header{
  grid-area: header;
  background-color: #024959;
}
section:nth-last-of-type(1){
  grid-area: boks1;
  background-color: #3CA6A6;
}
section:nth-last-of-type(2){
  grid-area: boks2;
  background-color: #026773;
}
section:nth-last-of-type(3){
  grid-area: boks3;
  background-color: #024959;
}
main{
  grid-area: main;
  background-color: #F2E3D5;
}
footer{
  grid-area: footer;
  background-color: #024959;
}